py/heatmap.py
bin/astDumper.sh
data/*
!data/testdates.sc
../
*.jar
*.class
*.log
*.out
sall
jsall
s[0-9]*
_vb
tags
.scala-build
sonatype.sbt
# classpath @files come in Windows/EverybodyElse versions
classpathAtfile*
.cache
.env
.envrc
.history
.sdkmanrc
.lib/
dist/*
target/
lib_managed/
local.conf
src_managed/
project/boot/
project/plugins/project/
project/scalafix/*
project/.sbtserver
project/.sbtserver.lock
project/project/
*.swp
*.sw?
*.semanticdb
jsrc/*.jar
.idea*
# Metals
.metals/
.bsp/
.bloop/
metals.sbt
.vscode
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
py/ast_dump.py
py/hundredSeeds.py
py/mytprfex.py
py/pngK.py
py/rng.py
py/test_input.json
py/test_input.py
biz
biz.sc
bizy.sc
bizz
mytprfex.sc
plan.txt
problems.txt
randLong.sc
remaining-gaps.txt
sho.sc
smartRedesign.txt
smartparse.sc
translationKey.txt
.claude/
Tprf.scala.old
benchMarkResultsMonday.txt
bigDesignQuestion.txt
claude-notes.txt
coverage-info.txt
coverage.txt
data_200_scala_00/
doc/reverse3prf.txt
htmlReport/
inplace.sc
jacoco-code-coverage-with-most-inlines-removed.txt
mathOps.sc
matlab/
py/__pycache__/
slice.sc
test-data/
bin/
doc/Tprf3-cleanup-Plan.md
idea-report/
kp_alpha.csv
kp_rsquare.csv
kp_yhat.csv
tprf3-refactor-plan.txt
xmlReport/
airfoil_self_noise.csv
asterisk.sc
ctr.sc
doc/broadcastRowsColsPlan.txt
dot-jvmopts
dot-vscode/
import-concerns-plus-claude-thoughts.txt
netlib-info.txt
notes-claude.txt
removedTests.txt
uni.code-workspace
vec-design-plan.txt
vector-returning-ops.txt
warnings.txt
